<div class="page-header">
<h3 class="text-center">Application Form</h3>
</div>

<div class="container-fluid">
  <p class="text-center h1">
    Once you have completed the pdf upload the file here
  </p>
  <a href="downloads/apply.txt" class="btn btn-block btn-info">Download This</a>
  <br>

  <div class="col-md-4">
  </div>
<div class="col-md-8">

  <form style='' class="form-horizontal tex" role="form"
    enctype="multipart/form-data" method="POST"
    action="/">

    <div class="form-group">
      <label for="fieldEmail" class="col-sm-2 control-label"> Email
      </label>
      <div class="col-sm-4">
        <input type="email" class="form-control"
        required id="fieldEmail" name="email">
      </div>
    </div>
    <div class="form-group">
      <label for="fieldPhoto" class="col-sm-2 control-label">
      Application</label>
      <div class="col-sm-4">

      <!-- Only accept images -->
        <input type="file" class="form-control" required
        accept="pdf/*" id="fieldPhoto" name="photo">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>
  </form>
</div>

</div>
